.card{
    margin-top: 10px;
    margin-right: 10px;
    margin-left: 10px;
    min-height: 180px;
    min-width: 400px;
    max-width: 400px;
    height: 100%;
    
}


button {
    width: 100%;
}

.titulo{
    text-align: center;
}

