<body>

  <section class="form-login">
    <form action="custom-form" method="post">
    <h4>Formulario Login </h4>
    <input class="controls"
    type="text"
    [(ngModel)]="usuario"
    name="usuario"
    placeholder="Usuario"
    required="required"/>

    <input class="controls2"
    type="password"
    [(ngModel)]="password"
    name="contrasena"
    placeholder="Contraseña"
    required="required"/>

    <input class="buttons" type="submit" (click)="login()" id="guardar" value="Ingresar">

    <!--Funciona bien-->
    <input class="buttons" type="submit" (click)="onCancel()" name="" value="Cancelar">
    </form>
  </section>
  </body>
